<!-- Generated template for the LoginComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-12>
      <h1>NeoSTORE</h1>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label><ion-icon name="person"></ion-icon>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <button ion-button color="light">LOGIN</button>
    </ion-row>

    <ion-row>
      <h4>Forgot password?</h4>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <h4>Don't have an account?</h4>
      </ion-col>
      <ion-col col-6>
        <ion-icon name="add-circle"></ion-icon>
      </ion-col>
    </ion-row>
</ion-grid>
